<footer>
  <div>
      I would appreciate if you helped my research! You can do it by filling out this <a class="fs-6 fw-light" href="https://forms.gle/SCw8tEJxMiPwBpV77">
      <img
              src="https://www.google.com/images/about/forms-icon.svg"
              alt="Google Forms"
              width="24"
              height="24"
      />
      <small> form</small></a>
      <div>
</footer>